<h1>Welcome</h1>
<p><form action="/user"><input type="submit" value="Пользователи"></form></p>
<p><form action="/client"><input type="submit" value="Клиенты"></form></p>
<p><form action="/order"><input type="submit" value="Заказы"></form></p>
<p><form action="/magazine"><input type="submit" value="Издание"></form></p>
<p><form action="/managers"><input type="submit" value="Менеджмент"></form></p>